{% include "_includes/head.html" %}

{% include "_includes/navbar.html" %}

        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="columns is-vcentered">
                    <div class="column is-5">
                        <figure class="image is-4by3">
                            <img src="https://picsum.photos/800/600/?random" alt="Description">
                        </figure>
                    </div>
                    <div class="column is-6 is-offset-1">
                        <h1 class="title is-2">
                            About Me
                        </h1>
                        <h2 class="subtitle is-4">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit laboriosam porro atque similique ullam! Minima asperiores laudantium soluta dolores odit pariatur quos reprehenderit labore ratione cum. Possimus quas quaerat tempora.
                        </h2>
							  <i class="fab fa-instagram"></i>
							  <i class="fab fa-facebook-square"></i>
							  <i class="fab fa-twitter"></i>
                    </div>
                </div>
            </div>
        </div>
</body>

{% include "_includes/footer.html" %}