<nav class="navbar">
                    <div class="container">
                        <div class="navbar-brand">
                            <a class="navbar-item" href="../">
                                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1490417/logo-placeholder.png" alt="Logo">
                            </a>
                            <span class="navbar-burger burger" data-target="navbarMenu">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                        </div>
                        <div id="navbarMenu" class="navbar-menu">
                            <div class="navbar-end">
                                <div class="tabs is-right">
                                    <ul>
                                        <li><a href="index.html">Homepage</a></li>
                                        <li><a href="/aboutbio.html">About/Bio</a></li>
                                        <li><a href="/portfolio.html">Portfolio</a></li>
                                        <li><a href="/resume.html">Resume</a></li>
                                    </ul>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>