<!DOCTYPE html>
<html lang="en">
		<head>
    
				<!-- RWD -->
				<meta charset="utf-8">
				<meta name="viewport" content="width=device-width, initial-scale=1">
				
				<!-- iOS MetaTags -->
				<meta name="apple-mobile-web-app-capable" content="yes">
				<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
				<meta name="apple-mobile-web-app-title" content="SketchGo">
			
				<!-- Web App Manfiest -->
				<meta name="theme-color" content="red">
				<meta name="theme-color" content="red">
				
				<!-- Favicons -->
				<link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon.png">
				<link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
				<link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
				<meta name="msapplication-TileColor" content="#ffffff">
				<meta name="theme-color" content="#ffffff">
				
				<!--  Bulma -->
				<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
				<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
				
				<!--  This Site/App -->
				<title>abbivance.com</title>
				<link rel="stylesheet" href="css/styles.processed.css">
				
			  </head>
<body>

		<nav class="navbar">
				<div class="container">
					<div class="navbar-brand">
						<a class="navbar-item" href="../">
							<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1490417/logo-placeholder.png" alt="Logo">
						</a>
						<span class="navbar-burger burger" data-target="navbarMenu">
							<span></span>
							<span></span>
							<span></span>
						</span>
					</div>
					<div id="navbarMenu" class="navbar-menu">
						<div class="navbar-end">
							<div class="tabs is-right">
								<ul>
									<li><a href="index.html">Homepage</a></li>
									<li><a href="/aboutbio.html">About/Bio</a></li>
									<li><a href="/portfolio.html">Portfolio</a></li>
									<li><a href="/resume.html">Resume</a></li>
								</ul>
									</a>
								</span>
							</div>
						</div>
					</div>
				</div>
			</nav>

	{{ content }}
	
</body>
</html>
